<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Twitter Friend Cleaner</title>
  <meta name="viewport" content="width=device-width">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id='content'>
  <h1>Twitter Friends Cleaner</h1>
  <p id="description">This service to help to remove a Twitter friend there is no post more than a month.</p>
  <a href="/auth/twitter" id="login">Twitter Login</a>
</div>
</body>
</html>
